<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="icon" type="image/png" href="/app/assets/img/favicon.png" />


  </head>


  <%= require('html-loader!./assets/html/navbar.html') %>



<div class="page-container" id="home">


      <div id="jumbotron" class=" ">



        <div class="whitespace-sm"></div>


        <div class="subtitle color-primary has-text-centered" v-cloak>
          {{ errorMessage }}
        </div>

      </div>

      <section class="hero   ">
        <div class="hero-body">


        <div id="action-container" class="action-container box" v-cloak v-if="shouldRender"    >
          <div class="token-titlebar flex-bar">
                <div class="token-title flex-start"> {{ selectedActionAsset.name }} </div>

                <div class="token-icon flex-end"> <img  v-bind:src="selectedActionAsset.icon_url" height="42" width="42" ></img> </div>
          </div>
          <div class="action-tabs-bar">

            <div class="tabs is-toggle hide-overflow"  >



              <ul class="columns">
                <li data-action-type="deposit"  v-bind:class="{ 'tab-action':true,  'column':true, 'column-button':true, 'is-active':(selectedActionType=='deposit')  } ">
                  <a>
                    <span class="icon is-small"><i class="fas fa-arrow-alt-circle-down" aria-hidden="true"></i></span>
                    <span>Deposit</span>
                  </a>
                </li>
                <li data-action-type="withdraw" v-bind:class="{ 'tab-action':true,  'column':true, 'column-button':true,  'is-active':(selectedActionType=='withdraw')  } ">
                  <a>
                    <span class="icon is-small one-third"><i class="fas fa-arrow-alt-circle-up" aria-hidden="true"></i></span>
                    <span>Withdraw</span>
                  </a>
                </li>
                <li data-action-type="lavatransfer" v-bind:class="{  'tab-action':true, 'column':true, 'column-button':true,  'is-active':(selectedActionType=='lavatransfer')  } ">
                  <a>
                    <span class="icon is-small one-third"><i class="fas fa-arrows-alt-h" aria-hidden="true"></i></span>
                    <span>Lava Transfer</span>
                  </a>
                </li>

              </ul>
            </div>

          </div>
          <div class="deposit-container" v-if="(selectedActionType=='deposit')" v-cloak>


              <div class="subtitle-banner has-background-info has-text-light"> External Balance: {{ selectedActionAsset.wallet_balance_formatted }} </div>




              <div class="input-container padding-md">
                <div class="label">Approve Tokens</div>

                <div class="columns">
                  <div class="column">
                    <div class="form-group">
                        <input type="text" class="input input-short is-primary " v-model="approveTokenQuantity" placeholder="token amount">
                        <div class="button is-primary btn-action-approve"> Approve </div>
                    </div>
                  </div>
                  <div class="column">
                      <div class="is-size-6"> Quantity Approved: {{ selectedActionAsset.approved_balance_formatted }} </div>
                  </div>
                </div>
              </div>



             <div class="input-container padding-md">
               <div class="label">Deposit Tokens</div>

                 <div class="columns">
                     <div class="column">
                       <div class="form-group">
                         <input class="input input-short is-primary" v-model="depositTokenQuantity" placeholder="token amount">
                          <div class="button is-primary btn-action-deposit"> Deposit </div>
                       </div>
                      </div>
                    <div class="column">
                        <div class="is-size-6"> Lava Balance: {{ selectedActionAsset.lava_balance_formatted }} </div>
                    </div>
               </div>
             </div>




          </div>
          <div class="withdraw-container" v-if="(selectedActionType=='withdraw')" v-cloak>

            <div class="subtitle-banner has-background-info has-text-light"> External Balance: {{ selectedActionAsset.wallet_balance_formatted }} </div>

              <div class="input-container padding-md">
                <div class="label">Withdraw Tokens</div>

                  <div class="columns">
                      <div class="column">
                        <div class="form-group">
                          <input class="input input-short is-primary" v-model="withdrawTokenQuantity" placeholder="token amount">
                           <div class="button is-primary btn-action-withdraw"> Withdraw </div>
                        </div>
                       </div>
                     <div class="column">
                         <div class="is-size-6"> Lava Balance: {{ selectedActionAsset.lava_balance_formatted }} </div>
                     </div>
                </div>
            </div>


          </div>
          <div class="lava-transfer-container" v-if="(selectedActionType=='lavatransfer')" v-cloak>

            <div class="subtitle-banner has-background-orange has-text-light"> Lava Balance: {{ selectedActionAsset.lava_balance_formatted }} </div>

            <div class="input-container padding-md">
            <div class="label">Transfer Tokens</div>

              <p> Generate a signed Lava Transfer Message.  This message can be submitted to the Ethereum network by anyone, at which point the tokens will be transferred to the recipient's Lava Balance.  </p>

                <div class="columns">
                    <div class="column">
                      <div class="form-group padding-md">
                          <div class="label">Amount</div>
                          <input class="input input-short is-primary" v-model="transferTokenQuantity" placeholder="token amount">
                      </div>
                      <div class="form-group padding-md">
                          <div class="label">Recipient</div>
                          <input class="input input-short is-primary" v-model="transferTokenRecipient" placeholder="token recipient">
                      </div>
                      <div class="form-group padding-md">
                          <div class="label">Relay Reward (tokens)</div>
                          <input class="input input-short is-primary" v-model="transferTokenRelayReward" placeholder="token relay reward">
                      </div>

                        <div class="button is-primary btn-action-lava-transfer"> Sign </div>

                     </div>
                   <div class="column">
                       <div class="is-size-6">   </div>

                       <div class="form-group padding-md">
                           <div class="label">Lava Packet Data</div>
                           <textarea class="textarea" placeholder="Lava packet data" rows="10"  v-model="lavaPacketData" ></textarea>

                       </div>

                       <div id="btn-download-lava-packet">
                       </div>


                   </div>
              </div>
           </div>


          </div>

        </div>


        <div class="whitespace-md"></div>


          <div id="asset-list" class="asset-list">

            <table>
              <thead>
                <tr >
                  <td class="has-text-centered"> Icon </td>
                  <td class="has-text-centered"> Name </td>
                  <td class="has-text-centered"> Lava Balance </td>
                  <td class="has-text-centered"> External Balance </td>

                </tr>
              </thead>
              <tbody>
              <tr    v-for="(item, index) in tokens.token_list" v-bind:data-tokenaddress="item.address" v-bind:class="{   'asset-row':true, 'acts-as-link':true, 'hover-shadow':true   } " >
                <td class="row-cell has-text-centered icon-url"><img  v-bind:src="item.icon_url" height="42" width="42" ></img></td>
                <td class="row-cell has-text-centered token-name">{{item.name}}</td>
                <td class="row-cell has-text-centered"><div class=" token-balance">{{item.lava_balance_formatted}}</div> </td>
                <td class="row-cell has-text-centered"><div class="has-text-centered token-balance">{{item.wallet_balance_formatted}}</div>  </td>

              </tr>
            </tbody>
            </table>

           </div>


                 <div class="whitespace-md"></div>


             <div id="lava-packet-dropzone" class="lava-packet-dropzone">

               <div class="subtitle is-size-3">Drop Lava Packets Here</div>

               <div class="dropzone"  >
                  <div class="hand-icon-holder">

                  </div>

                  <div class="dropzone-file-input-container">
                    <p> Or select a local file </p>

                      <div class="light-box">
                        <input class="dropzone-file-input" name="lavaPacketFile" type="file">
                      </div>
                  </div>

               </div>




             </div>

        </div>
      </section>




  </div>



      <%= require('html-loader!./assets/html/footer.html') %>


      <a id="scrollUp" href="#top" style="position: fixed; z-index: 2147483647;"><i class="icon-arrow-up"></i></a>

  </body>
</html>
