<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="icon" type="image/png" href="/app/assets/img/favicon.png" />

  </head>


  <%= require('html-loader!./assets/html/navbar.html') %>



<div class="page-container" id="home">


      <div id="jumbotron" class=" ">


        <div class="title has-text-centered is-hidden-mobile">Exchange 0xBitcoin and Ether</div>

        <div class="whitespace-sm"></div>

        <div class="subtitle has-text-centered">BETA RELEASE</div>

        <div class="whitespace-sm"></div>

      </div>

      <section class="hero   ">
        <div class="hero-body">
          <div id="transfer-form" class="  has-text-centered">


            <div class="columns">

              <div class="column">
                <div class="subtitle">Ether Balance</div>

                <div class="balance-container">  {{etherBalanceFormatted}} </div>


                <div class="transfer-form-fields">
                   <input class="input" v-model="depositEtherAmount" placeholder="amount">
                  <a class="button is-primary btn-deposit-ether">Deposit Ether</a>
                </div>

                <div class="transfer-form-fields">
                   <input class="input" v-model="withdrawEtherAmount" placeholder="amount">
                  <a class="button is-primary is-outlined btn-withdraw-ether">Withdraw Ether</a>
                </div>


              </div>

              <div class="column">
                <div class="subtitle">0xBitcoin Balance</div>

                <div class="balance-container">  {{tokenBalanceFormatted}} </div>

                <div class="transfer-form-fields">
                   <input class="input" v-model="depositTokenAmount" placeholder="amount">
                   <a class="button is-primary btn-deposit-0xbtc">Deposit 0xBitcoin</a>
                </div>

                <div class="transfer-form-fields">
                   <input class="input" v-model="withdrawTokenAmount" placeholder="amount">
                   <a class="button is-primary is-outlined btn-withdraw-0xbtc">Withdraw 0xBitcoin</a>
               </div>


              </div>

            </div>





          </div>
        </div>
      </section>






      <div id="order-form" class="box has-text-centered gray-theme  ">

        <div class="columns">

              <div class="column">
                <div class="subtitle color-primary">Buy 0xBitcoin</div>

                <div class="order-form">

                  <div class="input-container">
                    <div class="label">Token Get</div>
                    <input class="input" v-model="bidTokenGet" placeholder="token amount">
                  </div>

                  <div class="input-container">
                    <div class="label">Ether Give</div>
                    <input class="input" v-model="bidTokenGive" placeholder="ether amount">
                  </div>

                  <a class="button is-primary btn-bid-order">Place Bid</a>
                </div>


                        <div class="whitespace-md"></div>


                        <div class="order-list-container">

                          <div class="subtitle"> Buy Instantly </div>

                            <div class="order-list">

                              <table>
                                <thead>
                                  <tr >
                                    <td> Token Get </td>
                                    <td> Ether Give </td>
                                    <td> Cost Ratio </td>
                                  </tr>
                                </thead>
                                <tbody>
                                <tr class="trading-row order-row acts-as-link" v-for="(item, index) in asks.ask_list" v-bind:data-orderhash="item.order_hash" >
                                  <td class="order-row-cell amount-get">{{item.amount_get_formatted}}</td>
                                  <td class="order-row-cell amount-give">{{item.amount_give_formatted}}</td>
                                  <td class="order-row-cell cost-ratio">{{item.cost_ratio}}</td>
                                </tr>
                              </tbody>
                              </table>

                             </div>
                          </div>




              </div>


              <div class="column">
                <div class="subtitle color-primary">Sell 0xBitcoin</div>

                <div class="order-form">

                  <div class="input-container">
                    <div class="label">Token Give</div>
                    <input class="input" v-model="askTokenGet" placeholder="token amount">
                  </div>

                  <div class="input-container">
                    <div class="label">Ether Get</div>
                    <input class="input" v-model="askTokenGive" placeholder="ether amount">
                  </div>

                  <a class="button is-primary btn-ask-order">Place Ask</a>
                </div>



                <div class="whitespace-md"></div>


                <div class="order-list-container">

                  <div class="subtitle"> Sell Instantly </div>

                  <div class="order-list">

                    <table>
                      <thead>
                        <tr >
                          <td> Token Give </td>
                          <td> Ether Get </td>
                          <td> Cost Ratio </td>
                        </tr>
                      </thead>
                      <tbody>
                      <tr class="trading-row order-row acts-as-link" v-for="(item, index) in bids.bid_list" v-bind:data-orderhash="item.order_hash" >
                        <td class="order-row-cell amount-get">{{item.amount_get_formatted}}</td>
                        <td class="order-row-cell amount-give">{{item.amount_give_formatted}}</td>
                        <td class="order-row-cell cost-ratio">{{item.cost_ratio}}</td>
                      </tr>
                    </tbody>
                    </table>

                   </div>
                </div>





              </div>


          </div>

      </div>



      <div id="trade-monitor" class="box has-text-centered   ">

        <div class="columns">

              <div class="column">
                <div class="subtitle color-primary">My Orders</div>
                <p>(click to cancel)</p>
                <div class="my-orders monitor-book"  >

                  <table>
                    <thead>
                      <tr >
                        <td> Token Get </td>
                        <td> Ether Give </td>
                        <td> Cost Ratio </td>
                      </tr>
                    </thead>
                    <tbody>
                    <tr class="order-row monitor-order-row acts-as-link"   v-for="(item, index) in orders.order_list" v-bind:data-orderhash="item.order_hash" >
                      <td class="order-row-cell amount-get">{{item.amount_get_formatted}}</td>
                      <td class="order-row-cell amount-give">{{item.amount_give_formatted}}</td>
                      <td class="order-row-cell cost-ratio">{{item.cost_ratio}}</td>
                    </tr>
                  </tbody>
                  </table>

                </div>


              </div>


              <div class="column">
                <!--
                <div class="subtitle color-primary">Recent Trades</div>


                <div class="my-trades monitor-book">

                  <table>
                    <thead>
                      <tr >
                        <td> Token Get </td>
                        <td> Ether Give </td>
                        <td> Cost Ratio </td>
                      </tr>
                    </thead>
                    <tbody>
                    <tr class="order-row  monitor-trades-row acts-as-link"   v-for="(item, index) in trades.trade_list" v-bind:data-orderhash="item.order_hash" >
                      <td class="order-row-cell amount-get">{{item.amount_get}}</td>
                      <td class="order-row-cell amount-give">{{item.amount_give}}</td>
                      <td class="order-row-cell cost-ratio">{{item.cost_ratio}}</td>
                    </tr>
                  </tbody>
                  </table>

                </div>
                  -->

              </div>


          </div>

      </div>



  </div>



      <%= require('html-loader!./assets/html/footer.html') %>


      <a id="scrollUp" href="#top" style="position: fixed; z-index: 2147483647;"><i class="icon-arrow-up"></i></a>

  </body>
</html>
