<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="icon" type="image/png" href="/app/assets/img/favicon.png" />

  </head>



  <body  data-spy="scroll" id="home" >



    <!-- Page Preloader -->

    <div id="loading-page">
        <div id="loading-center-page">
            <div id="loading-center-absolute">

                <div class="loader"></div>
            </div>
        </div>

    </div>




  <%= require('html-loader!./assets/html/navbar.html') %>


<div class="page-container" id="home">


      <section class="hero orange-theme ">
        <div class="hero-body">
          <div class="container has-text-centered">


            <div class="columns">

              <div class="column">
                <img src="app/assets/img/logo.png"></img>
              </div>

              <div class="column">

                <div class="whitespace-md"></div>


                <h1 class="title font-primary-title color-primary">
                   Decentralized Mineable Token for <a href="https://www.ethereum.org/" target="_blank">Ethereum</a>
                </h1>




                <p class="color-primary" style="max-width:60%;margin: 0 auto;">

                 </p>

                 <div class="whitespace-sm"></div>

                   <i class="icon-wallet color-primary" style="font-size:48px;"></i>

                   <div class="whitespace-sm"></div>

                 <a href="/wallet" target="_blank">
                   <div class='button-bubble button-secondary'>Open the Wallet</div>
                 </a>

              </div>

            </div>





          </div>
        </div>
      </section>



      <div id="guide" class="box has-text-centered">

        <div class="columns">

              <div class="column">
                     <div class="whitespace-md"></div>

                    <div class='title'> Start Mining 0xBitcoin </div>
                    <div class='subtitle '> Download the Token Miner from Github </div>

                    <a href="https://github.com/0xbitcoin/0xbitcoin-miner/blob/master/RELEASES.md" target="_blank">
                      <div class='button-bubble button-primary'>Download the Token Miner</div>
                    </a>

              </div>


              <div class="column">
                  <div class="code-terminal-container">
                    <span class="code-terminal">
                    </span>
                  </div>
              </div>


          </div>

      </div>

      <div id="dashboard" class="box  has-small-text-mobile" style="overflow-x:auto; min-height:480px;">
        <div class='subtitle'>    <i class="icon-chart color-primary" style="font-size:48px" ></i>  </div>
        <table class='table' style='margin: 0 auto'>

        <tbody>
          <tr> <td> Network: MAINNET </td> </tr>
          <tr> <td> Address: <a :href='contractUrl' target="_blank"> {{ contractAddress }} </a>  </td> </tr>
          <tr> <td> Total Supply:  {{ totalSupply }} </td> </tr>
          <tr> <td> Amount Mined:  {{ amountMined }}</td></tr>
        <tr> <td> Mining Difficulty:  {{ difficulty }}</td></tr>
        <tr> <td> Hashrate Estimate:  {{ hashrateEstimate }}</td></tr>
        <tr> <td> Mining Challenge:  {{ challenge_number }}</td></tr>

        <tr> <td> Last Reward To:  {{ lastRewardTo }}</td></tr>
        <tr> <td> Last Reward Amount:  {{ lastRewardAmount }}</td></tr>
        <tr> <td> Last Reward EthBlock#:  {{ lastRewardEthBlockNumber }}</td></tr>
       </tbody>
        </table>

      </div>



      <div id="pools" class="box mining-pools-section orange-theme white-title" style="overflow-x:auto; min-height:480px;">
        <div class='subtitle color-primary'>  <i class="icon-share color-primary" style="font-size:48px" ></i> </div>


      <!--   <img src="app/assets/img/pool_mining.png" width="80" height="80"></img> -->
      <div class="pools-feature-container">
        <div class="pools-feature" id="pooltiles">


          <div v-for="(item, index) in pools.poolList.pools"  v-bind:class="item.htmlClass">
            <div class="pool-tile-container  color-primary">

              <div class='pool-title'> {{ item.name  }}  </div>

              <div class='pool-address'>
                <a v-bind:href="item.url" target="_blank">
                  {{ item.url  }}
                </a>
              </div>

              <div class='pool-image'>
                  <a v-bind:href="item.url" target="_blank">
                    <img v-bind:src="item.image"><img>
                   </a>
                </div>



            </div>

          </div>


        </div>
    </div>


      </div>

      <div id="about" class="box has-text-centered">

        <div class='title'> The only bitcoin-like token for Ethereum. </div>

     <div class='subtitle '> 0xBitcoin is an Ethereum token distributed using Proof of Work </div>





        <div class="">

          <p> Use 0xBitcoin with: </p>
          <ul>
               <li> <a href="https://forkdelta.github.io/#!/trade/0xBTC-ETH"> Forkdelta </a> </li>
              <li> <a href="https://etherscan.io/address/0xb6ed7644c69416d67b522e20bc294a9a9b405b31"> Etherscan </a></li>
              <li> <a href="https://www.ledgerwallet.com/"> Ledger Nano </a> </li>
              <li> <a href="https://parity.io">  Parity </a>  </li>
              <li> <a href="https://metamask.io"> Metamask </a></li>
              <li> <a href="https://https://www.cipherbrowser.com/">  Cipher Mobile Wallet </a> </li>

          </ul>


        </div>


                        <div class="whitespace-md"></div>


        <div class="">
          <p> Why? <a href="https://medium.com/@admazzola/decentralized-ethereum-payments-9c80cd76a65a"> Read more on Medium </a></p>

          <p> Read more detail at <a href="https://github.com/0xbitcoin/0xbitcoin-token" target="_blank"> Github </a> </p>


          <p> Join the community on <a href="https://reddit.com/r/0xbitcoin" target="_blank"> Reddit </a> </p

        </div>
      </div>


  </div>



      <%= require('html-loader!./assets/html/footer.html') %>


      <a id="scrollUp" href="#top" style="position: fixed; z-index: 2147483647;"><i class="icon-arrow-up"></i></a>

  </body>
</html>
