


html
{
  //color: white;
  //background-color: pink;
  font-family: "Arial, Helvetica, sans-serif";


}

a
{
  color: #ff7209;
}

.page-container
{
  max-width: 940px;
  margin: auto;

}

.orange-gradient
{
      background: radial-gradient(ellipse at bottom left, #e48951 60%, #ff7209 62%);
}

.font-primary-title
{

    font-family: 'Anton', sans-serif;
    line-height: 1.5;
     font-size: 2.4rem

}



.color-primary
{
  color: #ff7209;
}

.button-primary
{
  color: white;

   background: linear-gradient(#ff7209, #ff6206);
}

.button-primary:hover
{
  background: linear-gradient(#ee7209, #ee6206);
}

.button-secondary
{
  color: #ff7209;

   background: linear-gradient(#fff, #eee);
}

.button-secondary:hover
{
  background: linear-gradient(#eee, #ddd);
}

.button-bubble
{
  padding:8px;
  border: 1px solid black;
  border-radius: 3px;
  display: inline-block;
}

.button-strong
{
  font-weight: bold;
  font-size:22px;
  padding:10px 15px;
}

.navbar-item
{
  padding: 2px;
}

@media only screen and (max-width: 768px) {

  .has-small-text-mobile
  {
    font-size: 10px;
  }
}

.list-strong
{
  text-align: left;
  font-size: 1.5em;
  line-height: 1.5;



  @media only screen and (max-width: 768px) {
    font-size: 1.0em;
  }

  li
  {
    margin-bottom:20px;
  }
}


.gray-theme
{
 background-color: #ddd;
 border: 2px solid gray;

 .color-primary
 {
   color: #ff7209;
 }

}

.orange-theme
{
  background-color: #ff7209;

  a
  {
    color: #eee;
    text-decoration: underline;
  }


  .navbar
  {
    a
    {
      color:  #000;
      text-decoration: none;
    }
  }

  .section-white-theme
  {
    a
    {
      color:  #ff7209;
      text-decoration: underline;
    }
  }


  .color-primary
  {
    color: white;
  }

  .button-primary
  {
  //  color: #ff7209;

  }

  .button-secondary
  {
  //  color: black;

  }
}

.balance-container
{
  padding:20px;
  font-size: 2em;
}



.acts-as-link
{
  cursor: pointer;
}

.hover-shadow:hover
{
  background-color: #eee;
}


.asset-list
{
  table
  {
    width:100%;
  }

  thead
  {
    font-size:24px;
    border-bottom: 1px solid black;
  }
  tbody
  {
    font-size:18px;
  }
  tr
  {
    border-bottom: 1px solid black;
  }
  td
  {
    padding: 10px 0px;
  }
}

.order-row
{

  width:280px;
  margin-top:5px;
  margin-bottom:5px;
  background-color:white;


    border: 1px solid gray;

  padding:5px;

  .order-row-cell
  {
   padding:5px;
   color:black;
  }

}

.order-row:hover
{
  background-color:#ddd;
}

.order-row.unable
{
  background-color:#edd;
}

.transfer-form-fields
{
  max-width:180px;
  margin: 20px auto;

  .button
  {
    margin: 10px;
  }
}

.monitor-book
{
  table {
     margin:0 auto;
   }
}



.color-fun-primary
{
    color: #e2c08d;
}

.color-fun-secondary
{
    color: #73c990;
}

.backgound-slate-primary
{
  background-color: #21252b;
}
.backgound-slate-secondary
{
  background-color: #282c34;
}

.faded-in
{
  opacity:0;
}

.navbar-collapse-mobile
{
  font-size: 1.8em;

  .navbar-item
  {
    font-size: 1.5em;
    margin-top: 10px;
  }
}

.footer
{
  color: black;

  a
  {
    color:  #ff7209;
    text-decoration: underline;
  }

}
