


html
{
  //color: white;
  //background-color: pink;
  font-family: "Arial, Helvetica, sans-serif";


}

a
{
  color: #ff7209;
}

[v-cloak] { display:none; }

.navbar-item img
{
  //fix navbar icon
    max-height:100%;
}

.has-background-orange
{
   background: #ff7209 !important;
}

.page-container
{
  max-width: 940px;
  margin: auto;

}

.orange-gradient
{
      background: radial-gradient(ellipse at bottom left, #e48951 60%, #ff7209 62%);
}

.font-primary-title
{

    font-family: 'Anton', sans-serif;
    line-height: 1.5;
     font-size: 2.4rem

}



.color-primary
{
  color: #ff7209;
}

.button-primary
{
  color: white;

   background: linear-gradient(#ff7209, #ff6206);
}

.button-primary:hover
{
  background: linear-gradient(#ee7209, #ee6206);
}

.button-secondary
{
  color: #ff7209;

   background: linear-gradient(#fff, #eee);
}

.button-secondary:hover
{
  background: linear-gradient(#eee, #ddd);
}

.button-bubble
{
  padding:8px;
  border: 1px solid black;
  border-radius: 3px;
  display: inline-block;
}

.button-strong
{
  font-weight: bold;
  font-size:22px;
  padding:10px 15px;
}

.navbar-item
{
  padding: 2px;
}

@media only screen and (max-width: 768px) {

  .has-small-text-mobile
  {
    font-size: 10px;
  }
}

.list-strong
{
  text-align: left;
  font-size: 1.5em;
  line-height: 1.5;



  @media only screen and (max-width: 768px) {
    font-size: 1.0em;
  }

  li
  {
    margin-bottom:20px;
  }
}


.gray-theme
{
 background-color: #ddd;
 border: 2px solid gray;

 .color-primary
 {
   color: #ff7209;
 }

}

.orange-theme
{
  background-color: #ff7209;

  a
  {
    color: #eee;
    text-decoration: underline;
  }


  .navbar
  {
    a
    {
      color:  #000;
      text-decoration: none;
    }
  }

  .section-white-theme
  {
    a
    {
      color:  #ff7209;
      text-decoration: underline;
    }
  }


  .color-primary
  {
    color: white;
  }

  .button-primary
  {
  //  color: #ff7209;

  }

  .button-secondary
  {
  //  color: black;

  }
}



.is-centered
{
  margin: 0 auto;
}

.acts-as-link
{
  cursor: pointer;
}

.hover-shadow:hover
{
  background-color: #eee;
}



.subtitle-banner
{
  text-align:center;
  padding:10px;
  margin-bottom: 10px;
  font-size:1.2em;
}

.asset-list
{
  table
  {
    width:100%;
  }

  thead
  {
      font-size: 1em;
    border-bottom: 1px solid black;
  }
  tbody
  {
    font-size: 1.5em;
  }
  tr
  {
    border-bottom: 1px solid black;
  }
  td
  {
    padding: 15px 0px;
  }
}

.hide-overflow
{
      overflow: hidden;
}

.zero-padding
{
  padding: 0;
}

.hand-icon
{
  font-size: 2em;
  color: rgba(0,0,0,0.3);
}

.column-button
{
      padding:0;
      padding-top: 0.75em;
      padding-bottom: 0.75em;
}

.input-short
{
  max-width:200px;
}

.padding-md
{
  padding: 1em;
}

.flex-bar
{
  align-items: stretch;
  display: flex;
}
.flex-start
{
  justify-content: flex-start;
  margin-right: auto;
}
.flex-end
{
  justify-content: flex-end;
  margin-left: auto;
}

.action-container
{

  .token-titlebar
  {
    padding: 10px 10px;
  }

  .token-title
  {
    font-size: 2em;

  }

  .token-icon
   {

   }

}

.one-third
{
  width:33%;
}

.light-box
{
  border: 1px solid black;
  padding:10px;
  display: inline-block;
}


.lava-packet-dropzone
{
 

  background: repeating-linear-gradient(45deg, #ffebcb, #ffebcb,10px, #ffffff 10px, #ffffff 20px);
  padding: 25px;
  border-radius: 10px;

  .subtitle
  {
    text-align: center;
    color:black;

  }
  .dropzone
  {
    min-height:250px;

    .hand-icon-holder
    {
      font-size:2em;
      margin:0 auto;
    }

    .dropzone-file-input-container
    {
      text-align: center;
      padding:20px;
      margin:0 auto;
    }
  }

}




.order-row
{

  width:280px;
  margin-top:5px;
  margin-bottom:5px;
  background-color:white;


    border: 1px solid gray;

  padding:5px;

  .order-row-cell
  {
   padding:5px;
   color:black;
  }

}

.order-row:hover
{
  background-color:#ddd;
}

.order-row.unable
{
  background-color:#edd;
}

.transfer-form-fields
{
  max-width:180px;
  margin: 20px auto;

  .button
  {
    margin: 10px;
  }
}

.monitor-book
{
  table {
     margin:0 auto;
   }
}



.color-fun-primary
{
    color: #e2c08d;
}

.color-fun-secondary
{
    color: #73c990;
}

.backgound-slate-primary
{
  background-color: #21252b;
}
.backgound-slate-secondary
{
  background-color: #282c34;
}

.faded-in
{
  opacity:0;
}

.navbar-collapse-mobile
{
  font-size: 1.8em;

  .navbar-item
  {
    font-size: 1.5em;
    margin-top: 10px;
  }
}

.footer
{
  color: black;

  a
  {
    color:  #ff7209;
    text-decoration: underline;
  }

}
